body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center;     /* Centraliza na vertical */
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

.bloco {
    margin: 15px 0;
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
}

span {
    font-weight: bold;
    color: blue;
}